@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  background-color: #252525;
  color: #fff;
}
h1 {
  @apply mb-3 text-3xl font-bold;
}

input {
  @apply !m-0 ml-2 rounded-md border border-slate-300 bg-transparent px-2 py-1;
}
.button,
select {
  @apply rounded-md px-3 py-1 shadow-md;
}
button.button:disabled {
  opacity: 0.5;
}

@layer components {
  .container {
    @apply mx-auto px-10 py-6;
  }
}
@layer utilities {
}
